.PageContainer {

}

.PageContainer .montage-Slot
{
    padding-top:40px;
}

@-webkit-keyframes pagecontainerfadein /* Safari 和 Chrome */
{
    from {opacity: 0;}
    to {opacity: 1;}
}
.PageContainer .montage-Slot > div
{
    -webkit-animation: pagecontainerfadein 2s;
}